<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav" >
    <menu-directive url="#!/driver" icon-class="fa fa-fw fa-user" name="Drivers"></menu-directive>
    <menu-directive url="#!/location" icon-class="fa fa-fw fa-user" name="Locations"></menu-directive>
    <menu-directive url="#!/route" icon-class="fa fa-fw fa-user" name="Routes"></menu-directive>
    <li>
      <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i
              class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
      <ul id="demo" class="collapse">
        <li>
          <a href="#">Dropdown Item</a>
        </li>
      </ul>
    </li>
  </ul>
</div>