<div >
  <page-title-directive title="{{location.id ? 'Edit' : 'New'}} Location"></page-title-directive>

  <form name="form" ng-submit="save()" novalidate="novalidate">

    <ng-include src="'app/view/location/_form.html'" onload="init()" ></ng-include>

    <div class="form-group" style="margin-top: 15px;">
      <button class="btn btn-success btn-sm" type="submit" ng-disabled="form.$invalid">Save</button>
      <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel</button>
    </div>

  </form>
</div>



