<div ng-init="init()">

  <page-title-directive title="{{location.id ? 'Edit' : 'New'}} Location"></page-title-directive>

  <form name="form" ng-submit="save()" novalidate="novalidate">

    <div class="form-group">
      <label>Name</label>
      <input id="name" name="name" ng-model="location.name" class="form-control" ng-required="true" ng-minlength="3"/>
      <div ng-show="form.name.$dirty && form.name.$invalid">
        <span ng-show="form.name.$error.required" class="error-text"> Field is required</span>
        <span ng-show="form.name.$error.minlength"
              class="error-text"> This field requires a minimun of 3 characters</span>
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea id="description" name="description" ng-model="location.description" class="form-control"
                style="resize:none"></textarea>
    </div>

    <div class="row">

      <div class="form-group col-sm-12">
        <label>Location</label>
        <input id="location" name="location" ng-model="location.point.location" class="form-control" disabled="true"/>
      </div>

      <div class="form-group col-sm-6">
        <label>Latitude</label>
        <input id="lat" name="lat" ng-model="location.point.lat" class="form-control" ng-required="true"
               ng-minlength="3"
               disabled="true"/>
      </div>
      <div class="form-group col-sm-6">
        <label>Longitude</label>
        <input id="lon" name="lon" ng-model="location.point.lng" class="form-control" ng-required="true"
               ng-minlength="3"
               disabled="true"/>
      </div>
    </div>

    <fieldset>
      <legend>Search</legend>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Location</label>
          <div class="input-group">
            <input id="loc" name="loc" ng-model="loc" class="form-control" ng-required="true"/>
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="searchLocation()" style="height: 34px"><span class="fa fa-search" ></span></button>
            </span>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="col-sm-12">
        <div class="map-container">
          <div id="map"></div>
        </div>
      </div>
    </div>

    <div class="form-group" style="margin-top: 15px;">
      <button class="btn btn-success btn-sm" type="submit" ng-disabled="form.$invalid">Save</button>
      <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel</button>
    </div>

  </form>


</div>



