<div ng-init="init()">

  <page-title-directive title="{{driver.id ? 'Edit' : 'New'}} Route"></page-title-directive>

  <div ng-show="state == 'formRoute'">
    <form name="form" ng-submit="save()" novalidate="novalidate">
      <div class="row">
        <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <label>Date</label>
          <input id="date" name="date" ng-model="route.date" class="form-control" ng-required="true" ng-minlength="3"/>
          <div ng-show="form.name.$invalid">
            <span ng-show="form.name.$error.required" class="error-text"> Field is required</span>
          <span ng-show="form.name.$error.minlength"
                class="error-text"> This field requires a minimun of 3 characters</span>
          </div>
        </div>

        <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <label>Hour</label>
          <input id="hour" name="hour" ng-model="route.hour" class="form-control" ng-required="true" ng-minlength="3"/>
          <div ng-show="form.name.$invalid">
            <span ng-show="form.name.$error.required" class="error-text"> Field is required</span>
          <span ng-show="form.name.$error.minlength"
                class="error-text"> This field requires a minimun of 3 characters</span>
          </div>
        </div>

        <div class="form-group col-lg-8 col-md-8 col-sm-6  col-xs-12">
          <label>Starting Location</label>
          <div class="input-group">
            <input id="startingLocation" name="startingLocation" ng-model="route.startingLocation.name" class="form-control"
                   ng-disabled="true"/>
          <span class="input-group-btn">
            <button class="btn btn-info" type="button" ng-click="prepareSelectLocation('startingLocation')">Select Existing</button>
            <button class="btn btn-default" type="button" ng-click="newLocation('startingLocation')">New Location</button>
          </span>
          </div>
          <div ng-show="form.name.$invalid">
            <span ng-show="form.name.$error.required" class="error-text"> Field is required</span>
          <span ng-show="form.name.$error.minlength"
                class="error-text"> This field requires a minimun of 3 characters</span>
          </div>
        </div>

        <div class="form-group col-sm-12 col-md-12 col-sm-12  col-xs-12">
          <label>Stops</label>
          <button class="btn btn-xs btn-success" ng-click="prepareAddStop()"><span class="fa fa-plus"></span> Add Stop</button>
          <ul>
            <li ng-repeat="route in route.stops track by $index"></li>
          </ul>
        </div>

        <div class="form-group col-lg-12 col-md-12 col-sm-12  col-xs-12">
          <label>Driver</label>
          <div class="input-group">
            <input id="driver" name="driver" ng-model="route.driver.name" class="form-control" ng-disabled="true"/>
          <span class="input-group-btn">
            <button class="btn btn-info" type="button" ng-click="prepareSelectDriver()">Select Existing</button>
            <button class="btn btn-default">Sugest a Driver</button>
          </span>
          </div>
        </div>

        <div class="form-group col-lg-12 col-md-12 col-sm-12  col-xs-12">
          <label>Ending Location</label>
          <div class="input-group">
            <input id="endingLocation" name="endingLocation" ng-model="route.endingLocation.name" class="form-control"
                   ng-disabled="true" />
          <span class="input-group-btn">
            <button class="btn btn-info"  ng-click="prepareSelectLocation('endingLocation')" >Select Existing</button>
            <button class="btn btn-default" ng-click="copyStartingLocation()">Starting Location</button>
            <button class="btn btn-default">Driver Home</button>
            <button class="btn btn-default" ng-click="newLocation('endingLocation')">New Location</button>
          </span>
          </div>
        </div>


        <div class="form-group col-sm-8 col-md-8 col-sm-6  col-xs-12">
        </div>

      </div>
      <div class="form-group">
        <button class="btn btn-success btn-sm" type="submit" ng-disabled="form.$invalid">Save</button>
        <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>

  <div ng-if="state == 'formLocation'" >

      <form name="form" ng-submit="save( backToRoute )" novalidate="novalidate" ng-controller="LocationFormController as ctrl" >

        <ng-include src="'app/view/location/_form.html'" onload="init()" ></ng-include>

        <div class="form-group" style="margin-top: 15px;">
          <button class="btn btn-success btn-sm" type="submit" ng-disabled="form.$invalid">Save Location and Go Back</button>
          <button class="btn btn-danger btn-sm" ng-click="backToRouteForm()">Cancel</button>
        </div>
      </form>

  </div>

  <div ng-if="state == 'selectLocation'">
    <div ng-controller="SelectLocationController as ctrl" ng-init="init()">
      <form>
        <div class="row">
          <div class="form-group col-sm-6">
            <label>Search</label>
            <input id="searchLocation" ng-model="name" class="form-control" />
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-condensed">
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in locations track by item.id">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>
                <button class="btn btn-xs btn-default" type="button" title="Select" ng-click="backToRoute(item)"><span class="fa fa-check"></span></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </form>
    </div>
  </div>


  <div ng-if="state == 'selectDriver'">
    <div ng-controller="SelectDriverController as ctrl" ng-init="init()">
      <form>
        <div class="row">
          <div class="form-group col-sm-6">
            <label>Search</label>
            <input id="searchDriver" ng-model="name" class="form-control" />
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-condensed">
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in drivers track by item.id">
              <td>{{item.name}}</td>
              <td>
                <button class="btn btn-xs btn-default" type="button" title="Select" ng-click="selectDriverAndBackToRoute(item)"><span class="fa fa-check"></span></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>

  <div ng-if="state == 'formStop'">
    <ng-include  src="'app/view/route/stop_form.html'" ></ng-include>
  </div>

</div>

