
<div class="row" ng-init="init()">
  <div class="form-group col-sm-6">
    <label>Latitude</label>
    <input id="lat" name="lat" ng-model="lat" class="form-control" ng-required="true"
           ng-minlength="3"
           disabled="true"/>
  </div>
  <div class="form-group col-sm-6">
    <label>Longitude</label>
    <input id="lon" name="lon" ng-model="lng" class="form-control" ng-required="true"
           ng-minlength="3"
           disabled="true"/>
  </div>


  <div class="form-group col-sm-6">
    <label>Rurte To Draw</label>
    <input id="json" name="json" ng-model="json" class="form-control"  />
    <button type="button" ng-click="drawRoute(json);">Draw</button>
  </div>

</div>

<div class="row" style="margin-bottom:15px;">
  <div class="col-sm-12">
    <div class="map-container">
      <div id="map"></div>
    </div>
  </div>
</div>